/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/
.info{
}
.description{
	float:left;
}
.location{
	float:left;
}
.clear{
	clear: both;
}