---
---
@import "public";
@import "tooltip";

#navbar{
  margin: 0;
  padding: 5px;
  text-align: left;
  background: #1A446C;
  color: #D4E6F4;
  line-height:20px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: left;
      padding-left: 1px;
      padding-right: 10px;
      a {
        color:#FFFFFF;
        font-size: 13px;
      }
      :hover {
        text-decoration: underline overline;
        cursor: pointer;
      }
    }
  }
}

.portfolio {
  section {
  }
}
