---
---
@import "public";
@import "tooltip";

#header {
	height: 70px;
	margin: 0; padding: 5px; text-align: left;
  background: #1A446C; color: #D4E6F4;
  line-height:20px;
  a{
    color:#FFFFFF;
		display: inline;
  }
	a:hover {
		text-decoration: overline;
	}
}
#logo {
  margin-right: 0;
}
#navbar{
  margin: 0;
  padding: 5px;
  text-align: left;
  background: #1A446C;
  color: #D4E6F4;
  line-height:20px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: left;
      padding-left: 1px;
      padding-right: 10px;
      a {
        color:#FFFFFF;
        font-size: 13px;
      }
      :hover {
        text-decoration: underline overline;
        cursor: pointer;
      }
    }
  }
}

.portfolio {
  section {
  }
}

#back_to_top {
  float:left;
  margin-top:20px;
  margin-left:85%;
  position:fixed;
  text-decoration:none;
  color:#1A446C;
}
