---
layout: portfolio
jsarr:
 - link: processing/p5.js
 - link: processing/ripple.js
   name: "ripple"
   description: "A sine wave"
 - link: processing/flocks.js
   name: "flocks"
   description: "Some starlings swimming in space"
navbar_name: "Stuff: "
---
{% for script in page.jsarr %}
  {% if script.name %}
    <script>
      $('#navbar ul').append("<li><a onClick='javascript:switchSection(\"#"+{{script.name | jsonify}}+"\")'>"+{{script.name | jsonify}}+"</a></li>");
    </script>
  	<center>
  		<section id="{{script.name}}">
        <p>{{script.description}}</p>
      </section>
  	</center> <br>
  {% endif %}
{% endfor %}
