---
layout: portfolio
required_js:
 - link: processing/p5.js
 - link: processing/p5.dom.js
jsarr:
 - link: processing/ripple.js
   name: "ripple"
   description: "A sine wave"
 - link: processing/flocks.js
   name: "flocks"
   description: "Some starlings swimming in space. Implementation of Craig Reynolds' flocking simulation"
 - link: processing/madras.js
   name: "madras"
   description: "Implementation of j.tarbell's 'substrate' which spreads more modular communities over gaussian distribution and grows differently"
 - link: processing/polar.js
   name: "polar"
   description: "Basic polar equations. Scroll to change degree. Click to add nodes. Space to toggle lines"
navbar_name: "Stuff: "
---
{% for script in page.jsarr %}
  {% if script.name %}
    <script>
      $('#navbar ul').append("<li><a id='nav_"+{{script.name | jsonify}}
          +"' href=\"#"+{{script.name | jsonify}}
          +"\" onClick='javascript:switchSection(\"#"+{{script.name | jsonify}}
          +"\")'>"+{{script.name | jsonify}}
          +"</a></li>");
      function manageLoading(that, p){
          p.noLoop();
          if (p5_registry) {
            p5_registry["#" + that._userNode.id] = that;
            var selector = window.location.hash.substr(1);
            if (selector == that._userNode.id) {
              p.loop();
            } else if (selector == "" && $("section").first()[0].id == that._userNode.id){
              switchSection("#" + that._userNode.id);
            }
          }
        };
    </script>
  	<center>
  		<section id="{{script.name}}">
        <p>{{script.description}}</p>
      </section>
  	</center> <br>
  {% endif %}
{% endfor %}

<!-- {% for js in page.jsarr %}
  <script type="text/javascript">
    {% include {{ js.link | prepend:site.baseurl}} %}
  </script>
{% endfor %} -->
