<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Ian Later</title>
  <link rel="icon" href="{{ "/" | relative_url }}favicon.ico" type="image/x-icon" />
  <link href="{{ "/css/main.css" | relative_url }}" media="all" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

  {% for js in page.required_js %}
    <script type="text/javascript">
      {% include {{ js.link }} %}
    </script>
  {% endfor %}
  {% for js in page.jsarr %}
    <script type="text/javascript">
      // $.ajax({
      //   url: "includes{{ js.link | relative_url}}",
      //   dataType: "script"
      // });
      {% include {{ js.link }} %}

    </script>
  {% endfor %}

  {% if page.fancybox %}
    <!-- Add fancyBox -->
    <link href="{{ "/css/fancybox/jquery.fancybox.css" | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" >
      {% include fancybox/source/jquery.fancybox.pack.js %}
    </script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link href="{{ "/css/fancybox/jquery.fancybox.css" | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ "/css/fancybox/jquery.fancybox-buttons.css" | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" >
      {% include fancybox/source/helpers/jquery.fancybox-buttons.js %}
    </script>
    <script type="text/javascript" >
      {% include fancybox/source/helpers/jquery.fancybox-media.js %}
    </script>
  {% endif %}
</head>
