---
layout: default
fancybox: true

---
<link href="{{ "/css/portfolio.css" | relative_url }}" media="all" rel="stylesheet" type="text/css" />
<div id="navbar">
  <ul>
    <span style="float:left; padding-right:5px;">Stuff: </span>
    {% for album in site.photos %}
      <li>
        <a id="nav_{{album.name}}" href="{{album.url}}" >{{album.name}}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<center class="portfolio">
  {{ content }}
  <section id='{{page.name | slugify}}'>
    <h1>{{page.name}}</h1>
    {% for image in page.images %}
      <a class="fancybox" rel="group" href="{{ image.src | asset_url | img_tag }}">
        <img src="{{ image.src | asset_url | img_tag }}" class="bigland"/><br />
      </a>
      <p>
        <h2>{{ image.title }}</h2>
        {{ image.caption | default: "   "}}
        <hr>
      </p>
    {% endfor %}
  </section>
</center>
