---
layout: default
required_js:
- link: processing/p5.js
- link: processing/p5.dom.js
---
<link href="{{ "/css/portfolio.css" | relative_url }}" media="all" rel="stylesheet" type="text/css" />
<div id="navbar">
  <ul>
    <span style="float:left; padding-right:5px;">Stuff: </span>
    {% for project in site.processing reversed %}
      <li>
        <a id="nav_{{project.name}}" href="{{project.name}}" >{{project.name}}</a>
      </li>
    {% endfor %}
  </ul>

</div>
<center class="portfolio">
  <section id="{{page.name}}">
    <p>{{page.description}}</p>
    <div id ="input_{{page.name}}">
    </div>
    <div id = "console">

    </div>
  </section>

{{ content }}
</center>
